<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images in {{ path }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/images.css') }}">
</head>

<body>
    <a href="/?path={{ path }}" class="back-link">← Back to File List</a>
    <div class="page-header">
        <h1>Images in: {{ path or 'root' }}</h1>
    </div>
    <div class="download-all">
        Download all images as zip:
        <a href="{{ url_for('images.download_all_images', path=path) }}" class="download-btn">Download All</a>
    </div>

    {% if images %}
    <table class="navigation-arrows">
        {% if page > 1 %}
        <td class="arrow">
            <a href="{{ url_for('images.images', path=path, page=page-1) }}" class="arrow">&lt; Back</a>
        </td>
        {% endif %}
        <td>Page {{ page }} of {{ total_pages }}</td>
        {% if page < total_pages %}
        <td class="arrow">
            <a href="{{ url_for('images.images', path=path, page=page+1) }}" class="arrow">Forward &gt;</a>
        </td>
        {% endif %}
    </table>
    <div class="gallery-container">
        {% for image_path in images %}
        <div class="image-card">
            <img src="{{ url_for('images.serve_image', filepath=image_path) }}"
                alt="Image: {{ image_path.split('/')[-1] }}">
            <div class="card-footer">
                <p>{{ image_path.split('/')[-1] }}</p>
                <a href="{{ url_for('images.download_image', filepath=image_path) }}" class="download-btn">Download</a>
            </div>
        </div>
        {% endfor %}

    </div>
    <table class="navigation-arrows">
        {% if page > 1 %}
        <td class="arrow">
            <a href="{{ url_for('images.images', path=path, page=page-1) }}" class="arrow">&lt; Back</a>
        </td>
        {% endif %}
        <td>Page {{ page }} of {{ total_pages }}</td>
        {% if page < total_pages %}
        <td class="arrow">
            <a href="{{ url_for('images.images', path=path, page=page+1) }}" class="arrow">Forward &gt;</a>
        </td>
        {% endif %}
    </table>
    {% else %}
    <p style="text-align:center;">No images found in this directory.</p>
    {% endif %}
</body>

</html>